apiVersion: apps/v1
kind: Deployment
metadata:
  name: sympozium-controller-manager
  namespace: {{ include "sympozium.namespace" . }}
  labels:
    {{- include "sympozium.labels" . | nindent 4 }}
    app.kubernetes.io/component: controller
    control-plane: controller-manager
spec:
  replicas: {{ .Values.controller.replicas }}
  selector:
    matchLabels:
      control-plane: controller-manager
  template:
    metadata:
      labels:
        control-plane: controller-manager
      annotations:
        kubectl.kubernetes.io/default-container: manager
    spec:
      serviceAccountName: sympozium-controller-manager
      terminationGracePeriodSeconds: 10
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
        - name: manager
          image: {{ include "sympozium.controllerImage" . }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            {{- if .Values.controller.leaderElect }}
            - --leader-elect
            {{- end }}
          env:
            - name: NATS_URL
              value: {{ include "sympozium.natsUrl" . }}
          ports:
            - containerPort: 8081
              name: health
              protocol: TCP
            - containerPort: 8080
              name: metrics
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: health
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /readyz
              port: health
            initialDelaySeconds: 5
            periodSeconds: 10
          resources:
            {{- toYaml .Values.controller.resources | nindent 12 }}
          securityContext:
            {{- toYaml .Values.containerSecurityContext | nindent 12 }}
      {{- with .Values.controller.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.controller.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
